<app-nav-bar></app-nav-bar>
<main>
  <div class="flex-spacing">
    <div class="container-title">
      <div class="blur"></div>
      <h1>
        Agende já sua consulta com um de nossos profissionais!
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni tempora nesciunt aperiam dolorum mollitia corrupti fugit sunt.</p>
      <app-form [nome]="name"></app-form>
    </div>
    <div class="container-img">
      <div class="blur"></div>
      <img src="../../../assets/images/doctor.svg" alt="">
    </div>
  </div>

  <app-card-patient></app-card-patient>
</main>
