<header>

  <mat-toolbar class="flex-spacing">
    <div>
      <img [src]="imageLogo" alt="">
    </div>
    <div class="flex-spacing">
      <div>
        <ul class="flex li">
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/sobre">Sobre</a></li>
          <li><a routerLink="/avalicacoes">Avaliações</a></li>
          <li><a routerLink="/cadastro">Cadastrar Paciente</a></li>
        </ul>
      </div>
      <div class="container-login">
        <button mat-raised-button color="primary" class="login">Login</button>
      </div>
    </div>
  </mat-toolbar>

</header>
